%h2
  Make a new friend
  = link_to 'New Friend', new_friend_path, :class => 'new-friend'

%section#friends
  = render @friends
%h2
  Make a new friend
  = link_to 'New Friend', new_friend_path, :class => 'new-friend'

%section#friends
  = render @friends

